[Unit]
Description=Prepare Atlaso data disks
After=systemd-udev-settle.service atlaso-guest-agent-select.service
Wants=systemd-udev-settle.service
Requires=atlaso-guest-agent-select.service
Before=atlaso-bootstrap-https.service atlaso.service

[Service]
Type=oneshot
TimeoutStartSec=20min
ExecStartPre=/opt/atlaso/bin/atlaso-select-guest-agent --cleanup-only
ExecStart=/opt/atlaso/bin/atlaso-mount-data-disks
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
